@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}

@layer components {
  .link {
    @apply text-blue-500 pr-4 cursor-pointer;
  }

  .social-link {
    @apply text-black transition hover:text-blue-500 text-3xl pr-4;
  }

  .button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
    display: flex;
    align-items: center;
    cursor: pointer;
    @apply p-[10px] border border-transparent rounded-xl bg-white hover:bg-gray-200 transition;
  }
}
