.ContactForm {
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  padding: 0 20%;
  .Form {
    width: 100%;
    margin: 0;
    padding: 0;
    transform: translate(-25%, 0);
  }
}
