@import 'variables.scss';

.menu {
  background: white;
  width: 100vw;
  position: sticky;
  top: 0;
  height: 100px;
  font-size: 1rem;
  z-index: 100;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .left {
    padding-left: 20px;
    &.logo {
      font-size: 20px;
    }
  }
}
