@import "variables.scss";

.Grid {
  margin-top: 10vh;
  display: grid;
  // width: 100vw;
  min-height: 100vh;
  // background-color: blue;

  .AboutMe {
    // margin: 10vh 0 10vh 0;
    // background: #f78080;
    text-align: center;
    display: grid;
    grid-template-areas:
      "a a"
      "b c";
    // grid-column-gap: 10vw;
    grid-row-gap: 10vh;

    @media only screen and (max-width: 1500px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0;

      .container {
        flex-direction: column;

        .WhoAmI {
          margin: 0 !important;
          p {
            width: 200% !important;
          }
        }
      }
    }

    .container {
      display: flex;
      justify-content: space-evenly;
    }

    .projects {
      text-transform: capitalize;
      height: 10vh;
      width: 100vw;
      margin: 0;
      padding: 0;
      display: block;
    }

    & h1 {
      margin: 0 auto;
      grid-area: a;
      margin: auto;
      text-transform: uppercase;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .Grid {
    .AboutMe {
      // grid-template-areas:
      //   "a a a"
      //   "b b b "
      //   "c c c";

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .WhoAmI {
        translate: -5vw 0;

        h2 {
          width: 100vw;
        }

        p {
          width: 60vw;
        }
      }

      .ProgrammingLanguages {
        margin-top: 20vh;

        ul {
          display: grid;

          li {
            min-height: 1vh;
          }
        }
      }
    }
  }
}
