@import 'variables.scss';

.Grid {
  .projects-tmp {
    height: 20vh !important;
    padding: 2% 20%;
  }
  .projects {
    height: 100% !important;
    padding: 2% 20%;
    .table {
      width: auto;
      max-width: 80vw;
      .ant-table-tbody {
        display: flex;
        flex-direction: column;
        .ant-table-row {
          .ant-table-cell {
            width: 100vw;
          }
        }
      }
      margin: 0;
    }
  }
  margin: 0 !important;
}
