$black: #011627;
$font-color: white;
$highlight-color: #f45b69;
$height: 50vh;
$shadow: 0 0 50px rgba(77, 77, 77, 0.151);
$shadow-hover: 0 0 80px rgba(77, 77, 77, 0.329);
$background-color: white;
$light-blue: #33a1fd;
$shadow-header: 0px 90px 85px -21px rgba(77, 77, 77, 0.151);

// Sidebar
$sidebar-bg: white;
$sidebar-textcolor: black;
$sidebar-titlecolor: $light-blue;
$sidebar-width: 100%;
$sidebar-height: 100vh;
$sidebar-padding: 20% 20% 5% 5%; // top right bottom left
$sidebar-titlefont: "Raleway";

// Main Page Sidebar Activate Btn
$sidebarbtn-border: 2px solid transparent;
$sidebarbtn-bg: white;

// Main Section
$title-fontcolor: black;
$title-highlightcolor: $light-blue;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');
