@import "variables.scss";

.WhoAmI {
  margin-left: 10vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-area: b;
  width: 30vw;
  height: 60%;

  .image {
    box-shadow: $shadow;
    background: lightgray;
    $width: 20vh;
    object-fit: cover;
    height: $width;
    width: $width;
    transition: 500ms;
    border: 2px solid transparent;
    // z-index: 0;

    &:hover {
      position: relative;
      z-index: 0;
      box-shadow: $shadow-hover;
      border: 2px solid $light-blue;
      color: $light-blue;
    }
  }

  h2 {
    font-size: 1em;
  }

  p {
    font-size: 0.6em;
    text-align: center;
    width: 30vw;

    .link {
      color: $light-blue;
    }
  }
}
