---
import "../styles/base.css";
import Section from "@/components/common/section.astro";
import SoftwareProjects from "@/components/partials/software-projects.astro";
import Hero from "@/components/partials/hero.astro";
import constants from "@/lib/constants";
import { ISoftwareProject, IResearchPaper } from "@/lib/types";
import matter from "gray-matter";
import { LANGUAGES, SOFT_SKILLS, DIGITAL_SKILLS } from "@/lib/contents";
import BaseLayout from "@/layouts/base.astro";
---

<BaseLayout>
  <div
    class="min-h-[94vh] bg-white text-black py-[2vh] w-screen overflow-hidden"
    id="home"
  >
    <main class="px-4 lg:px-52">
      <Hero />
      <Section title="Projects" sectionId="projects">
        <SoftwareProjects />
      </Section>
      <!--   <ResearchAndPapers researchPapers={researchPapers} /> -->
      <!--   <WorkExperience /> -->
      <!--   <Education /> -->
      <!--   <LanguageSkills languages={LANGUAGES} /> -->
      <!--   <SoftSkills skills={SOFT_SKILLS} /> -->
      <!--   <DigitalSkills skills={DIGITAL_SKILLS} /> -->
      <!--   <Conferences /> -->
      <!-- </div> -->
    </main>
  </div>
</BaseLayout>
