---
import DownloadCVButton from "@/components/common/download-cv-button.astro";
import Characteristics from "@/components/partials/characteristics.astro";
import { Linkedin, Github, Mail } from "lucide-astro";
import { CHARACTERISTICS } from "@/lib/contents";
---

  <div class="relative w-full">
    <div class="absolute top-0 -left-4 w-72 h-72 bg-pink-500 rounded-full mix-blend-multiply filter blur-xl opacity-45 animate-blob"></div>
    <div class="absolute top-0 left-72 w-72 h-72 bg-blue-600 rounded-full mix-blend-multiply filter blur-xl opacity-45 animate-blob animation-delay-2000"></div>
    <div class="absolute -bottom-8 left-20 w-72 h-72 bg-purple-700 rounded-full mix-blend-multiply filter blur-xl opacity-45 animate-blob animation-delay-4000"></div>
    <div class="m-8 relative space-y-4">
    <h1 class="2xl:text-8xl lg:text-6xl text-5xl font-bold pt-[20vh] text-black">
      I&apos;m Giacomo Pasin. <br /> CSE Student and <br /> STEM Enthusiast
    </h1>
    </div>
  </div>
<div class="flex mt-4">
  <a href="https://github.com/jackpeck2004" target="_blank" class="social-link">
    <Github />
  </a>
  <a
    href="https://linkedin.com/in/jackpasin"
    target="_blank"
    class="social-link"
  >
    <Linkedin />
  </a>
  <a
    href="mailto:giacomo.pasin+contact@gmail.com"
    target="_blank"
    class="social-link"
  >
    <Mail />
  </a>
</div>
<Characteristics characteristics={CHARACTERISTICS} />
<section class="my-4 flex xl:hidden justify-center">
  <DownloadCVButton />
</section>
