---
interface Props extends ISoftwareProjectPreview {}
import type { ISoftwareProjectPreview } from "@/lib/types";
import { ArrowUpRight } from "lucide-astro";

const { title, languages, frameworks, slug, date } = Astro.props;
---

<div
  class="border border-gray-200 rounded h-[200px] w-[400px] p-4 mr-5 inline-block"
>
  <div>
    <a href={slug}
      ><h5 class="text-xl font-bold hover:underline transition">{title}</h5></a
    >
    <span
      >{
        date.toLocaleDateString("en-US", { month: "long", year: "numeric" })
      }</span
    >
    <ul>
      <li>
        <span class="font-bold text-slate-600">Languages:</span>
        {languages.join(", ")}
      </li>
      <li>
        <span
          class={`${
            !!frameworks.length ? "hidden" : null
          } font-bold text-slate-600`}>Frameworks:</span
        >{" "}
        {frameworks.join(", ")}
      </li>
    </ul>
  </div>

  <div class="flex flex-col gap-4 md:flex-row">
    <a
      href={slug}
      target="_blank"
      class="button border-gray-200 xl:mr-2 w-full md:w-48 justify-center mt-4"
    >
      <ArrowUpRight class="mr-2 h-5 w-5" /> Read more
    </a>
  </div>
</div>
