---
import Section from "@/components/common/section.astro";
import { ISoftwareProject } from "@/lib/types";
interface Props extends Omit<ISoftwareProject, "slug"> {}
import { Github, ArrowUpRight } from "lucide-astro";

const { title, languages, frameworks, description, github, live } = Astro.props;
---

<div class="border border-gray-200 rounded p-4 mb-8">
  <div>
    <h5 class="text-xl font-bold">{title}</h5>
    <ul>
      <li>
        <span class="font-bold text-slate-600">Languages:</span>
        {languages.join(", ")}
      </li>
      {
        !!frameworks.length && (
          <li>
            <span class="font-bold text-slate-600">Frameworks:</span>{" "}
            {frameworks.join(", ")}
          </li>
        )
      }
      <p class="my-2">{description}</p>
    </ul>

    <div class="flex flex-col gap-4 md:flex-row">
      {
        !!github && (
          <a
            href={github}
            target="_blank"
            class="button border-gray-200 xl:mr-2 w-full md:w-48 justify-center"
          >
            <Github class="mr-2 h-5 w-5" /> Open in GitHub
          </a>
        )
      }
      {
        !!live && (
          <a
            href={live}
            class="button border-gray-200 xl:mr-2 w-full md:w-48 justify-center"
          >
            <ArrowUpRight class="mr-2 h-5 w-5" /> Open in Live
          </a>
        )
      }
    </div>
  </div>
</div>
