<a
  class="button text-white bg-blue-600 px-4 drop-shadow-2xl hover:bg-blue-600/70"
  target="_blank"
  href="https://drive.google.com/file/d/1Am6XV7o2WYUwAV-ZoyWt28ygB_jk0IOT/view?usp=share_link"
>
  Download my CV
</a>
