---
import Scaffold from "./scaffold.astro";
---

<Scaffold>
  <main
    class="overflow-x-hidden overflow-y-hidden transition-all min-h-[94vh] bg-white text-black px-4 lg:px-52"
  >
    <slot />
  </main>
</Scaffold>
