---
import Footer from "@/components/navigation/footer.astro"
---

<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="black" />
    <title>Giacomo Pasin</title>
  </head>
  <!-- {isDesktop ? ( -->
  <!-- <Navbar currentTheme={isLightTheme} changeThemeFn={setIsLightTheme} /> -->
  <!-- ) : ( -->
  <!-- <HamburgerNavbar /> -->
  <!-- )} -->
  <main class="overflow-x-hidden"><slot /></main>
  <Footer />


</html>
